@mixin dockview-design-space-mixin {
    --dv-tab-font-size: 12px;
    --dv-border-radius: 20px;
    --dv-tab-margin: 0.5rem 0.25rem;
    --dv-tabs-and-actions-container-height: 44px;


    --dv-border-radius 

    .dv-resize-container:has(> .dv-groupview) {
        border-radius: 8px;
    }

    .dv-sash {
        border-radius: 4px;
    }

    .dv-drop-target-anchor {
        border-radius: calc(var(--dv-border-radius) / 4);
        &.dv-drop-target-content {
            border-radius: var(--dv-border-radius);
        }
    }

    .dv-resize-container {
        border-radius: var(--dv-border-radius) !important;
        border: none;
    }

    .dv-groupview {
        border-radius: var(--dv-border-radius);

        .dv-tabs-and-actions-container {
            padding: 0px calc(var(--dv-border-radius) / 2);

            .dv-tab {
                border-radius: 8px;

                .dv-svg {
                    height: 8px;
                    width: 8px;
                }
            }
        }

        .dv-content-container {
            background-color: var(
                --dv-tabs-and-actions-container-background-color
            );
        }
    }
}
