.dv-dragged {
    transform: translate3d(
        0px,
        0px,
        0px
    ); /* forces tab to be drawn on a separate layer (see https://github.com/microsoft/vscode/issues/18733) */
}

.dv-tab {
    flex-shrink: 0;

    &:focus-within,
    &:focus {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
            top: 0px;
            left: 0px;
            pointer-events: none;
            outline: 1px solid var(--dv-tab-divider-color) !important;
            outline-offset: -1px;
            z-index: 5;
        }
    }

    &.dv-tab-dragging {
        .dv-default-tab-action {
            background-color: var(--dv-activegroup-visiblepanel-tab-color);
        }
    }

    &.dv-active-tab {
        .dv-default-tab {
            .dv-default-tab-action {
                visibility: visible;
            }
        }
    }

    &.dv-inactive-tab {
        .dv-default-tab {
            .dv-default-tab-action {
                visibility: hidden;
            }
            &:hover {
                .dv-default-tab-action {
                    visibility: visible;
                }
            }
        }
    }

    .dv-default-tab {
        position: relative;
        height: 100%;
        display: flex;
        min-width: 80px;
        align-items: center;
        padding: 0px 8px;
        white-space: nowrap;
        text-overflow: ellipsis;

        .dv-default-tab-content {
            padding: 0px 8px;
            flex-grow: 1;
        }

        .dv-default-tab-action {
            padding: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;

            &:hover {
                border-radius: 2px;
                background-color: var(--dv-icon-hover-background-color);
            }
        }
    }
}
