.dv-dragged {
    transform: translate3d(
        0px,
        0px,
        0px
    ); /* forces tab to be drawn on a separate layer (see https://github.com/microsoft/vscode/issues/18733) */
}

.tab {
    flex-shrink: 0;

    &.dv-tab-dragging {
        .tab-action {
            background-color: var(--dv-activegroup-visiblepanel-tab-color);
        }
    }

    &.active-tab > .default-tab {
        .tab-action {
            visibility: visible;
        }
    }

    &.inactive-tab > .default-tab {
        .tab-action {
            visibility: hidden;
        }
        &:hover {
            .tab-action {
                visibility: visible;
            }
        }
    }

    .default-tab {
        position: relative;
        height: 100%;
        display: flex;
        min-width: 80px;
        align-items: center;
        padding: 0px 8px;
        white-space: nowrap;
        text-overflow: elipsis;

        .tab-content {
            padding: 0px 8px;
            flex-grow: 1;
        }
    }
}
