.drop-target {
    position: relative;

    > .drop-target-dropzone {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        z-index: 10000;

        > .drop-target-selection {
            position: relative;
            box-sizing: border-box;
            height: 100%;
            width: 100%;
            background-color: var(--dv-drag-over-background-color);

            transition-duration: 0.15s;
            transition-timing-function: ease-out;
            will-change: transform;
            pointer-events: none;

            &.left {
              transform: translateX(-25%) scaleX(50%)
            }

            &.right {
              transform: translateX(25%) scaleX(50%)
            }

            &.top {
              transform: translateY(-25%) scaleY(50%);
            }

            &.bottom {
              transform: translateY(25%) scaleY(50%);
            }

            &.small-top {
                border-top: 1px solid var(--dv-drag-over-border-color);
            }

            &.small-bottom {
                border-bottom: 1px solid var(--dv-drag-over-border-color);
            }

            &.small-left {
                border-left: 1px solid var(--dv-drag-over-border-color);
            }

            &.small-right {
                border-right: 1px solid var(--dv-drag-over-border-color);
            }
        }
    }
}
