.resize-panel {
    padding: 10px;
    height: 100%;
}

.resize-panel .resize-title {
    margin-bottom: 8px;
}

.resize-panel .resize-control {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    margin-bottom: 6px;
}

.resize-panel .resize-control span {
    width: 60px;
}

.resize-panel .resize-control input {
    width: 75px;
}
