.dv-tabs-and-actions-container {
    display: flex;
    background-color: var(--dv-tabs-and-actions-container-background-color);
    flex-shrink: 0;
    box-sizing: border-box;
    height: var(--dv-tabs-and-actions-container-height);
    font-size: var(--dv-tabs-and-actions-container-font-size);

    &.dv-single-tab.dv-full-width-single-tab {
        .dv-scrollable {
            flex-grow: 1;
        }

        .dv-tabs-container {
            flex-grow: 1;

            .dv-tab {
                flex-grow: 1;
                padding: 0px;
            }
        }

        .dv-void-container {
            flex-grow: 0;
        }
    }

    .dv-void-container {
        display: flex;
        flex-grow: 1;
        
        &.dv-draggable {
            cursor: grab;
        }
    }

    .dv-right-actions-container {
        display: flex;
    }
}
