.dv-tabs-container {
    display: flex;
    overflow-x: overlay;
    overflow-y: hidden;

    scrollbar-width: thin; // firefox

    &::-webkit-scrollbar {
        height: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--dv-tabs-container-scrollbar-color);
    }

    .dv-tab {
        -webkit-user-drag: element;
        outline: none;
        min-width: 75px;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;

        &:not(:first-child)::before {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            pointer-events: none;
            background-color: var(--dv-tab-divider-color);
            width: 1px;
            height: 100%;
        }
    }

    &.dv-tabs-overflow-container {
        flex-direction: column;
        height: unset;

        .dv-tab {
            height: var(--dv-tabs-and-actions-container-height);
        }

        .dv-active-tab {
            background-color: var(
                --dv-activegroup-visiblepanel-tab-background-color
            );
            color: var(--dv-activegroup-visiblepanel-tab-color);
        }
        .dv-inactive-tab {
            background-color: var(
                --dv-activegroup-hiddenpanel-tab-background-color
            );
            color: var(--dv-activegroup-hiddenpanel-tab-color);
        }
    }
}

.dv-tabs-panel {
    .dv-tabs-overflow-handle {
        height: 100%;
        width: 15px;
        flex-shrink: 0;
        background-color: red;
    }
}
