.pane-container {
    height: 100%;
    width: 100%;

    &.animated {
        .view {
            transition-duration: 0.15s;
            transition-timing-function: ease-out;
        }
    }
    .view {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 0px !important;

        &:not(:first-child)::before {
            background-color: transparent !important;
        }

        &:not(:first-child) {
            .pane > .pane-header {
                border-top: 1px solid rgba(204, 204, 204, 0.2);
            }
        }
    }

    &:first-of-type > .pane > .pane-header {
        border-top: none !important;
    }

    .pane {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 100%;

        .pane-header {
            box-sizing: border-box;
            user-select: none;

            &:focus,
            &:focus-within {
                outline-width: 1px;
                outline-style: solid;
                outline-offset: -1px;
                opacity: 1 !important;
                outline-color: dodgerblue;
            }
        }
        .pane-body {
            overflow-y: auto;
            overflow-x: hidden;
            flex-grow: 1;

            &:focus,
            &:focus-within {
                outline-width: 1px;
                outline-style: solid;
                outline-offset: -1px;
                opacity: 1 !important;
                outline-color: dodgerblue;
            }
        }
    }
}
