.dv-render-overlay {
    position: absolute;
    z-index: 1;
    height: 100%;

    &.dv-render-overlay-float {
        z-index: 998;

        &.dv-render-overlay-active {
          // z-index: 1000;
        }
    }
}

.dv-debug {
    .dv-render-overlay {
        outline: 1px solid red;
        outline-offset: -1;
    }
}
