@mixin dockview-theme-core-mixin {
    --dv-paneview-active-outline-color: dodgerblue;
    --dv-tabs-and-actions-container-font-size: 13px;
    --dv-tabs-and-actions-container-height: 35px;
    --dv-drag-over-background-color: rgba(83, 89, 93, 0.5);
    --dv-drag-over-border-color: white;
    --dv-tabs-container-scrollbar-color: #888;
    --dv-icon-hover-background-color: rgba(90, 93, 94, 0.31);
    --dv-floating-box-shadow: 8px 8px 8px 0px rgba(83, 89, 93, 0.5);
    --dv-overlay-z-index: 999;
}

@mixin dockview-theme-dark-mixin {
    @include dockview-theme-core-mixin();

    //
    --dv-group-view-background-color: #1e1e1e;
    //
    --dv-tabs-and-actions-container-background-color: #252526;
    //
    --dv-activegroup-visiblepanel-tab-background-color: #1e1e1e;
    --dv-activegroup-hiddenpanel-tab-background-color: #2d2d2d;
    --dv-inactivegroup-visiblepanel-tab-background-color: #1e1e1e;
    --dv-inactivegroup-hiddenpanel-tab-background-color: #2d2d2d;
    --dv-tab-divider-color: #1e1e1e;
    //
    --dv-activegroup-visiblepanel-tab-color: white;
    --dv-activegroup-hiddenpanel-tab-color: #969696;
    --dv-inactivegroup-visiblepanel-tab-color: #8f8f8f;
    --dv-inactivegroup-hiddenpanel-tab-color: #626262;
    //
    --dv-separator-border: rgb(68, 68, 68);
    --dv-paneview-header-border-color: rgba(204, 204, 204, 0.2);
}

@mixin dockview-theme-light-mixin {
    @include dockview-theme-core-mixin();
    //
    --dv-group-view-background-color: white;
    //
    --dv-tabs-and-actions-container-background-color: #f3f3f3;
    //
    --dv-activegroup-visiblepanel-tab-background-color: white;
    --dv-activegroup-hiddenpanel-tab-background-color: #ececec;
    --dv-inactivegroup-visiblepanel-tab-background-color: white;
    --dv-inactivegroup-hiddenpanel-tab-background-color: #ececec;
    --dv-tab-divider-color: white;
    //
    --dv-activegroup-visiblepanel-tab-color: rgb(51, 51, 51);
    --dv-activegroup-hiddenpanel-tab-color: rgba(51, 51, 51, 0.7);
    --dv-inactivegroup-visiblepanel-tab-color: rgba(51, 51, 51, 0.7);
    --dv-inactivegroup-hiddenpanel-tab-color: rgba(51, 51, 51, 0.35);
    //
    --dv-separator-border: rgba(128, 128, 128, 0.35);
    --dv-paneview-header-border-color: rgb(51, 51, 51);
}

.dockview-theme-dark {
    @include dockview-theme-dark-mixin();
}

.dockview-theme-light {
    @include dockview-theme-light-mixin();
}

.dockview-theme-vs {
    @include dockview-theme-dark-mixin();

    --dv-tabs-and-actions-container-background-color: #2d2d30;

    --dv-tabs-and-actions-container-height: 20px;
    --dv-tabs-and-actions-container-font-size: 11px;

    --dv-activegroup-visiblepanel-tab-background-color: #007acc;
    --dv-inactivegroup-visiblepanel-tab-background-color: #3f3f46;

    --dv-activegroup-visiblepanel-tab-color: white;
    --dv-activegroup-hiddenpanel-tab-color: white;
    --dv-inactivegroup-visiblepanel-tab-color: white;
    --dv-inactivegroup-hiddenpanel-tab-color: white;

    .dv-groupview {
        &.dv-active-group {
            > .dv-tabs-and-actions-container {
                box-sizing: content-box;
                border-bottom: 2px solid
                    var(--dv-activegroup-visiblepanel-tab-background-color);

                .dv-tab {
                    &.dv-active-tab {
                        border-top: 2px solid
                            var(
                                --dv-activegroup-visiblepanel-tab-background-color
                            );
                    }

                    &.dv-inactive-tab {
                        border-top: 2px solid
                            var(
                                --dv-activegroup-hiddenpanel-tab-background-color
                            );
                    }
                }
            }
        }
        &.dv-inactive-group {
            > .dv-tabs-and-actions-container {
                box-sizing: content-box;
                border-bottom: 2px solid
                    var(--dv-inactivegroup-visiblepanel-tab-background-color);

                .dv-tab {
                    &.dv-active-tab {
                        border-top: 2px solid
                            var(
                                --dv-inactivegroup-visiblepanel-tab-background-color
                            );
                    }

                    &.dv-inactive-tab {
                        border-top: 2px solid
                            var(
                                --dv-inactivegroup-hiddenpanel-tab-background-color
                            );
                    }
                }
            }
        }
    }
}

@mixin dockview-theme-abyss-mixin {
    @include dockview-theme-core-mixin();
    //
    --dv-group-view-background-color: #000c18;
    //
    --dv-tabs-and-actions-container-background-color: #1c1c2a;
    //
    --dv-activegroup-visiblepanel-tab-background-color: #000c18;
    --dv-activegroup-hiddenpanel-tab-background-color: #10192c;
    --dv-inactivegroup-visiblepanel-tab-background-color: #000c18;
    --dv-inactivegroup-hiddenpanel-tab-background-color: #10192c;
    --dv-tab-divider-color: #2b2b4a;
    //
    --dv-activegroup-visiblepanel-tab-color: white;
    --dv-activegroup-hiddenpanel-tab-color: rgba(255, 255, 255, 0.5);
    --dv-inactivegroup-visiblepanel-tab-color: rgba(255, 255, 255, 0.5);
    --dv-inactivegroup-hiddenpanel-tab-color: rgba(255, 255, 255, 0.25);
    //
    --dv-separator-border: #2b2b4a;
    --dv-paneview-header-border-color: #2b2b4a;

    --dv-paneview-active-outline-color: #596f99;
}

@mixin dockview-theme-dracula-mixin {
    @include dockview-theme-core-mixin();
    //
    --dv-group-view-background-color: #282a36;
    //
    --dv-tabs-and-actions-container-background-color: #191a21;
    //
    --dv-activegroup-visiblepanel-tab-background-color: #282a36;
    --dv-activegroup-hiddenpanel-tab-background-color: #21222c;
    --dv-inactivegroup-visiblepanel-tab-background-color: #282a36;
    --dv-inactivegroup-hiddenpanel-tab-background-color: #21222c;
    --dv-tab-divider-color: #191a21;
    //
    --dv-activegroup-visiblepanel-tab-color: rgb(248, 248, 242);
    --dv-activegroup-hiddenpanel-tab-color: rgb(98, 114, 164);
    --dv-inactivegroup-visiblepanel-tab-color: rgba(248, 248, 242, 0.5);
    --dv-inactivegroup-hiddenpanel-tab-color: rgba(98, 114, 164, 0.5);
    //
    --dv-separator-border: #bd93f9;
    --dv-paneview-header-border-color: #bd93f9;

    --dv-paneview-active-outline-color: #6272a4;

    .dv-groupview {
        &.dv-active-group {
            > .dv-tabs-and-actions-container {
                > .dv-tabs-container {
                    > .dv-tab.dv-active-tab {
                        position: relative;

                        &::after {
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            content: '';
                            width: 100%;
                            height: 1px;
                            background-color: #94527e;
                            z-index: 999;
                        }
                    }
                }
            }
        }
        &.dv-inactive-group {
            > .dv-tabs-and-actions-container {
                > .dv-tabs-container {
                    > .dv-tab.dv-active-tab {
                        position: relative;

                        &::after {
                            position: absolute;
                            left: 0px;
                            bottom: 0px;
                            content: '';
                            width: 100%;
                            height: 1px;
                            background-color: #5e3d5a;
                            z-index: 999;
                        }
                    }
                }
            }
        }
    }
}

.dockview-theme-abyss {
    @include dockview-theme-abyss-mixin();
}

.dockview-theme-dracula {
    @include dockview-theme-dracula-mixin();
}

@mixin dockview-design-replit-mixin {
    .dv-resize-container:has(> .dv-groupview) {
        border-radius: 8px;
    }

    .dv-groupview {
        overflow: hidden;
        border-radius: 10px;

        .dv-tabs-and-actions-container {
            .dv-tab {
                margin: 4px;
                border-radius: 8px;

                .dv-svg {
                    height: 8px;
                    width: 8px;
                }

                &:hover {
                    background-color: #e4e5e6 !important;
                }
            }
            border-bottom: 1px solid rgba(128, 128, 128, 0.35);
        }

        .dv-content-container {
            background-color: #fcfcfc;
        }

        &.dv-active-group {
            border: 1px solid rgba(128, 128, 128, 0.35);
        }

        &.dv-inactive-group {
            border: 1px solid transparent;
        }
    }

    .vertical > .sash-container > .sash {
        &:not(.disabled) {
            &::after {
                content: '';
                height: 4px;
                width: 40px;
                border-radius: 2px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: var(--dv-separator-handle-background-color);
                position: absolute;
            }

            &:hover {
                &::after {
                    background-color: var(
                        --dv-separator-handle-hover-background-color
                    );
                }
            }
        }
    }

    .dv-horizontal > .dv-sash-container > .dv-sash {
        &:not(.disabled) {
            &::after {
                content: '';
                height: 40px;
                width: 4px;
                border-radius: 2px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: var(--dv-separator-handle-background-color);
                position: absolute;
            }

            &:hover {
                &::after {
                    background-color: var(
                        --dv-separator-handle-hover-background-color
                    );
                }
            }
        }
    }
}

.dockview-theme-replit {
    @include dockview-theme-core-mixin();
    @include dockview-design-replit-mixin();
    //
    --dv-group-view-background-color: #ebeced;
    //
    --dv-tabs-and-actions-container-background-color: #fcfcfc;
    //
    --dv-activegroup-visiblepanel-tab-background-color: #f0f1f2;
    --dv-activegroup-hiddenpanel-tab-background-color: #fcfcfc;
    --dv-inactivegroup-visiblepanel-tab-background-color: #f0f1f2;
    --dv-inactivegroup-hiddenpanel-tab-background-color: #fcfcfc;
    --dv-tab-divider-color: transparent;
    //
    --dv-activegroup-visiblepanel-tab-color: rgb(51, 51, 51);
    --dv-activegroup-hiddenpanel-tab-color: rgb(51, 51, 51);
    --dv-inactivegroup-visiblepanel-tab-color: rgb(51, 51, 51);
    --dv-inactivegroup-hiddenpanel-tab-color: rgb(51, 51, 51);
    //
    --dv-separator-border: transparent;
    --dv-paneview-header-border-color: rgb(51, 51, 51);

    /////
    --dv-separator-handle-background-color: #cfd1d3;
    --dv-separator-handle-hover-background-color: #babbbb;
}
