.custom-dragging {
  height: 24px;
  line-height: 24px;
  font-size: 11px;
  width: 100px;
  background-color: dodgerblue;
  color: ghostwhite;
  border-radius: 11px;
  position: absolute;
  padding-left: 10px;
}
