/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

.main-wrapper {
    --ifm-spacing-horizontal: 2rem;
    --ifm-menu-link-padding-vertical: 0.5rem;
}

/* You can override the default Infima variables here. */
:root {
    --ifm-font-family-base: ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
        Noto Color Emoji;

    --ifm-font-weight-bold: 600;

    --ifm-alert-padding-vertical: 8px;
    --ifm-alert-padding-horizontal: 8px;

    --ifm-background-surface-color: #141d2c;
    --ifm-background-color: white;

    --ifm-color-primary: #21222c;
    --ifm-color-primary-dark: #1e1f28;
    --ifm-color-primary-darker: #1c1d25;
    --ifm-color-primary-darkest: #17181f;
    --ifm-color-primary-light: #242530;
    --ifm-color-primary-lighter: #262733;
    --ifm-color-primary-lightest: #2b2c39;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

    --ifm-color-primary: black;

    --ifm-navbar-link-color: white;
    --ifm-navbar-link-hover-color: white;

    .navbar {
        color: white;
    }
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
:root[data-theme='dark'] {
    --ifm-background-surface-color: #141d2c;
    --ifm-background-color: #141d2c;

    .navbar {
        border-bottom: 1px solid var(--ifm-toc-border-color);
    }

    /* --ifm-color-primary: #0c111d; */
    --ifm-color-primary: #25c2a0;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #29d5b0;
    --ifm-color-primary-lighter: #32d8b4;
    --ifm-color-primary-lightest: #4fddbf;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

    --dv-docs-markdown-text-color: #cdced8;
}

.navbar__brand {
    flex-direction: row-reverse;

    .navbar__logo {
        margin-left: 0.5em;
        margin-right: 0px;
    }

    .navbar__title {
        font-size: 1.6em;
    }
}

.header-github-link::before {
    content: '';
    width: 24px;
    height: 24px;
    display: flex;
    background-color: var(--ifm-navbar-link-color);
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
    transition: background-color var(--ifm-transition-fast)
        var(--ifm-transition-timing-default);
}

.header-github-link:hover::before {
    background-color: var(--ifm-navbar-link-hover-color);
}

.pagination-nav {
    display: none;
}

.theme-doc-breadcrumbs {
    display: none;
}

.markdown {
    h1:first-child {
        --ifm-h1-font-size: 2rem;
    }

    h2 {
        --ifm-h2-font-size: 1.5rem;
    }

    p {
        color: var(--dv-docs-markdown-text-color);
    }

    > p:first-of-type {
        font-size: 1.5em;
    }

    table {
        border-collapse: collapse;
        display: table;
        table-layout: fixed;
        width: 100%;

        thead {
            text-align: left;
            background-color: inherit;

            tr {
                border: none;
            }
        }

        overflow: hidden;

        th,
        td {
            border: none;
            padding: none;
            text-align: left;
        }

        tr {
            background-color: inherit !important;

            &:last-child {
                border-bottom: var(--ifm-table-border-width) solid
                    var(--ifm-table-border-color);
            }
        }
    }

    code {
        // white-space: pre-wrap;
        .token {
            &.maybe-class-name {
                color: #cf8cff;
            }
            &.keyword {
                color: rgb(130, 170, 255);
            }
        }
    }
}

@import '~dockview/dist/styles/dockview.css';

.sidebar-section-header {
    > .menu__list-item-collapsible {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        border-top: 1px solid var(--ifm-toc-border-color);
        text-transform: uppercase;

        &:hover {
            background-color: inherit;
        }
    }
}

.sidebar-section2 {
    &:not(:first-child) {
        // border-top: 1px solid var(--ifm-toc-border-color);
    }

    > .menu__list-item-collapsible {
        padding-top: 10px;
        padding-bottom: 10px;
        // text-transform: uppercase;

        &:hover {
            background-color: inherit;
        }
    }
}

.menu {
    // padding-top: 40px;
}

.menu__list {
    .menu__list .menu__link:not(.menu__link--sublist) {
        border-left: 1px solid #3c3c42;
    }

    .menu__list {
        margin-top: 0px;
    }

    .menu__list-item:not(:first-child) {
        margin-top: 0px;
    }

    .menu__list .menu__link--active:not(.menu__link--sublist) {
        border-left: 1px solid rgb(112, 145, 227);
    }

    .menu__list-item-collapsible {
        // .menu__link {
        //     display: flex;
        //     flex-direction: row-reverse;
        //     justify-content: flex-end;

        //     &::after {
        //         margin-left: 0px;
        //     }
        // }

        .menu__link {
            // color: white;
        }
    }

    .menu__list-item-collapsible .menu__link:hover,
    .menu__list-item-collapsible .menu__link--active {
        border-left: none !important;
    }

    .menu__link,
    .menu__list-item-collapsible {
        border-radius: 0px;
    }
}

.hash-link {
    &::before {
        content: '' !important;
        width: 20px;
        height: 20px;
        display: inline-flex;
        align-self: center;
        rotate: -40deg;
        background-color: var(--ifm-link-color);
        mask-repeat: no-repeat;
        mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1M8 13h8v-2H8zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5'/%3E%3C/svg%3E");
        transition: background-color var(--ifm-transition-fast)
            var(--ifm-transition-timing-default);
    }
}

.toc-display {
    display: none;
}

@media (min-width: 1500px) {
    .toc-display {
        display: block;
    }
}

.theme-admonition {
    border: none;
    display: flex;
    padding: 8px 16px;
}
