.default-tab {
  position: relative;
  height: 100%;
  display: flex;
  min-width: 80px;
  align-items: center;
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: elipsis;
  font-size: 13px;

  &.active-tab {
    .tab-list {
      visibility: visible;
    }
  }

  &.inactive-tab {
    .tab-list {
      visibility: hidden;
    }
    &:hover {
      .tab-list {
        visibility: visible;
      }
    }
  }

  .tab-content {
    flex-grow: 1;
  }

  .action-container {
    text-align: right;
    width: 28px;
    display: flex;

    .tab-list {
      display: flex;
      padding: 0px;
      margin: 0px;
      justify-content: flex-end;

      a:active {
        -webkit-mask-size: 100% 100% !important;
        mask-size: 100% 100% !important;
      }

      .close-action {
        height: 16px;
        width: 16px;
        display: block;
        -webkit-mask: url(https://fonts.gstatic.com/s/i/materialicons/close/v8/24px.svg)
          50% 50% / 90% 90% no-repeat;
        mask: url(https://fonts.gstatic.com/s/i/materialicons/close/v8/24px.svg)
          50% 50% / 90% 90% no-repeat;
        margin-right: "0.5em";
      }
    }
  }
}
