.paneview-side-by-side {
    &:not(:first-child) {
        margin-left: 10px;
    }
    &:not(:last-child) {
        margin-right: 10px;
    }

    background-color: rgb(30, 30, 30);
    color: white;
}
