.example-functions-panel {
    padding: 5px;
    display: flex;
    flex-direction: column;

    .example-functions-panel-header-bar {
        display: flex;
        justify-content: flex-end;
    }

    .example-functions-panel-section {
        padding: 8px 0px;
    }
}
