@mixin dockview-theme-core-mixin {
    --dv-paneview-active-outline-color: dodgerblue;
    --dv-tabs-and-actions-container-font-size: 13px;
    --dv-tabs-and-actions-container-height: 35px;
    --dv-drag-over-background-color: rgba(83, 89, 93, 0.5);
    --dv-drag-over-border-color: white;
    --dv-tabs-container-scrollbar-color: #888;
    --dv-icon-hover-background-color: rgba(90, 93, 94, 0.31);
}

@mixin dockview-theme-dark-mixin {
    @include dockview-theme-core-mixin();
    //
    --dv-group-view-background-color: #1e1e1e;
    //
    --dv-tabs-and-actions-container-background-color: #252526;
    //
    --dv-activegroup-visiblepanel-tab-background-color: #1e1e1e;
    --dv-activegroup-hiddenpanel-tab-background-color: #2d2d2d;
    --dv-inactivegroup-visiblepanel-tab-background-color: #1e1e1e;
    --dv-inactivegroup-hiddenpanel-tab-background-color: #2d2d2d;
    --dv-tab-divider-color: #1e1e1e;
    //
    --dv-activegroup-visiblepanel-tab-color: white;
    --dv-activegroup-hiddenpanel-tab-color: #969696;
    --dv-inactivegroup-visiblepanel-tab-color: #8f8f8f;
    --dv-inactivegroup-hiddenpanel-tab-color: #626262;
    //
    --dv-separator-border: rgb(68, 68, 68);
    --dv-paneview-header-border-color: rgba(204, 204, 204, 0.2);
}

@mixin dockview-theme-light-mixin {
    @include dockview-theme-core-mixin();
    //
    --dv-group-view-background-color: white;
    //
    --dv-tabs-and-actions-container-background-color: #f3f3f3;
    //
    --dv-activegroup-visiblepanel-tab-background-color: white;
    --dv-activegroup-hiddenpanel-tab-background-color: #ececec;
    --dv-inactivegroup-visiblepanel-tab-background-color: white;
    --dv-inactivegroup-hiddenpanel-tab-background-color: #ececec;
    --dv-tab-divider-color: white;
    //
    --dv-activegroup-visiblepanel-tab-color: rgb(51, 51, 51);
    --dv-activegroup-hiddenpanel-tab-color: rgba(51, 51, 51, 0.7);
    --dv-inactivegroup-visiblepanel-tab-color: rgba(51, 51, 51, 0.7);
    --dv-inactivegroup-hiddenpanel-tab-color: rgba(51, 51, 51, 0.35);
    //
    --dv-separator-border: rgba(128, 128, 128, 0.35);
    --dv-paneview-header-border-color: rgb(51, 51, 51);
}

.dockview-theme-dark {
    @include dockview-theme-dark-mixin();
}

.dockview-theme-light {
    @include dockview-theme-light-mixin();
}

.dockview-theme-vs {
    @include dockview-theme-dark-mixin();

    --dv-activegroup-visiblepanel-tab-background-color: dodgerblue;
    --dv-tabs-and-actions-container-height: 18px;
    --dv-tabs-and-actions-container-font-size: 11px;

    .groupview {
        &.active-group {
            > .tabs-and-actions-container {
                border-bottom: 2px solid
                    var(--dv-activegroup-visiblepanel-tab-background-color);
            }
        }
        &.inactive-group {
            > .tabs-and-actions-container {
                border-bottom: 2px solid
                    var(--dv-inactivegroup-visiblepanel-tab-background-color);
            }
        }
    }
}

@mixin dockview-theme-abyss-mixin {
    @include dockview-theme-core-mixin();
    //
    --dv-group-view-background-color: #000c18;
    //
    --dv-tabs-and-actions-container-background-color: #1c1c2a;
    //
    --dv-activegroup-visiblepanel-tab-background-color: #000c18;
    --dv-activegroup-hiddenpanel-tab-background-color: #10192c;
    --dv-inactivegroup-visiblepanel-tab-background-color: #000c18;
    --dv-inactivegroup-hiddenpanel-tab-background-color: #10192c;
    --dv-tab-divider-color: #2b2b4a;
    //
    --dv-activegroup-visiblepanel-tab-color: white;
    --dv-activegroup-hiddenpanel-tab-color: rgba(255, 255, 255, 0.5);
    --dv-inactivegroup-visiblepanel-tab-color: rgba(255, 255, 255, 0.5);
    --dv-inactivegroup-hiddenpanel-tab-color: rgba(255, 255, 255, 0.25);
    //
    --dv-separator-border: #2b2b4a;
    --dv-paneview-header-border-color: #2b2b4a;

    --dv-paneview-active-outline-color: #596f99;
}

.dockview-theme-abyss {
    @include dockview-theme-abyss-mixin();
}
