@mixin dockview-theme-core-mixin {
    --dv-paneview-active-outline-color: dodgerblue;
    --dv-tabs-and-actions-container-font-size: 13px;
    --dv-tabs-and-actions-container-height: 35px;
    // --dv-tab-close-icon: url('https://fonts.gstatic.com/s/i/materialicons/close/v8/24px.svg');
    // --dv-tab-dirty-icon: url('https://fonts.gstatic.com/s/i/materialicons/lens/v6/24px.svg');
    --dv-tab-close-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>');
    --dv-tab-dirty-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2z"/></svg>');
    --dv-drag-over-background-color: rgba(83, 89, 93, 0.5);
    --dv-tabs-container-scrollbar-color: #888;
}

@mixin dockview-theme-dark-mixin {
    @include dockview-theme-core-mixin();
    //
    --dv-group-view-background-color: #1e1e1e;
    //
    --dv-tabs-and-actions-container-background-color: #252526;
    //
    --dv-activegroup-visiblepanel-tab-background-color: #1e1e1e;
    --dv-activegroup-hiddenpanel-tab-background-color: #2d2d2d;
    --dv-inactivegroup-visiblepanel-tab-background-color: #1e1e1e;
    --dv-inactivegroup-hiddenpanel-tab-background-color: #2d2d2d;
    --dv-tab-divider-color: #1e1e1e;
    //
    --dv-activegroup-visiblepanel-tab-color: white;
    --dv-activegroup-hiddenpanel-tab-color: #969696;
    --dv-inactivegroup-visiblepanel-tab-color: #8f8f8f;
    --dv-inactivegroup-hiddenpanel-tab-color: #626262;
    //
    --dv-separator-border: rgb(68, 68, 68);
    --dv-paneview-header-border-color: rgba(204, 204, 204, 0.2);
}

@mixin dockview-theme-light-mixin {
    @include dockview-theme-core-mixin();
    //
    --dv-group-view-background-color: white;
    //
    --dv-tabs-and-actions-container-background-color: #f3f3f3;
    //
    --dv-activegroup-visiblepanel-tab-background-color: white;
    --dv-activegroup-hiddenpanel-tab-background-color: #ececec;
    --dv-inactivegroup-visiblepanel-tab-background-color: white;
    --dv-inactivegroup-hiddenpanel-tab-background-color: #ececec;
    --dv-tab-divider-color: white;
    //
    --dv-activegroup-visiblepanel-tab-color: rgb(51, 51, 51);
    --dv-activegroup-hiddenpanel-tab-color: rgba(51, 51, 51, 0.7);
    --dv-inactivegroup-visiblepanel-tab-color: rgba(51, 51, 51, 0.7);
    --dv-inactivegroup-hiddenpanel-tab-color: rgba(51, 51, 51, 0.35);
    //
    --dv-separator-border: rgba(128, 128, 128, 0.35);
    --dv-paneview-header-border-color: rgb(51, 51, 51);
}

.dockview-theme-dark {
    @include dockview-theme-dark-mixin();
}

.dockview-theme-light {
    @include dockview-theme-light-mixin();
}

.dockview-theme-vs {
    @include dockview-theme-dark-mixin();

    --dv-activegroup-visiblepanel-tab-background-color: dodgerblue;
    --dv-tabs-and-actions-container-height: 18px;
    --dv-tabs-and-actions-container-font-size: 11px;

    .groupview {
        &.active-group {
            > .tabs-and-actions-container {
                border-bottom: 2px solid
                    var(--dv-activegroup-visiblepanel-tab-background-color);
            }
        }
        &.inactive-group {
            > .tabs-and-actions-container {
                border-bottom: 2px solid
                    var(--dv-inactivegroup-visiblepanel-tab-background-color);
            }
        }
    }
}
