.dockview-actions-bar {
    text-align: right;
    width: 28px;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .dockview-actions-container {
        display: flex;
        padding: 0px;
        margin: 0px;
        justify-content: flex-end;

        a:active {
            -webkit-mask-size: 100% 100% !important;
            mask-size: 100% 100% !important;
        }

        .close-action {
            background-color: white;
            height: 16px;
            width: 16px;
            display: block;
            -webkit-mask: var(--dv-tab-close-icon) 50% 50% / 90% 90% no-repeat;
            mask: var(--dv-tab-close-icon) 50% 50% / 90% 90% no-repeat;
            margin-right: '0.5em';
            cursor: pointer;
        }
    }
}
