.dv-render-overlay {
    --dv-overlay-z-index: var(--dv-overlay-z-index, 999);

    position: absolute;
    z-index: 1;
    height: 100%;

    &.dv-render-overlay-float {
        z-index: calc(var(--dv-overlay-z-index) - 1);
    }
}

.dv-debug {
    .dv-render-overlay {
        outline: 1px solid red;
        outline-offset: -1;
    }
}
