.group-control {
    .action {
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        font-size: 18px;
        cursor: pointer;

        &:hover {
            border-radius: 2px;
            background-color: var(--dv-icon-hover-background-color);
        }
    }
}

.demo-button {
    min-width: 50px;
    border: none;
    margin: 0px 2px;
    padding: 0px 2px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.demo-icon-button {
    display: flex;
    align-items: center;
    border-radius: 0px;
    border: none;

    &:hover {
        background-color: orange;
    }

    span {
        font-size: 16px;
    }
}
