.actions-bar {
    text-align: right;
    width: 28px;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .actions-container {
        display: flex;
        padding: 0px;
        margin: 0px;
        justify-content: flex-end;

        .close-action {
            padding: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            cursor: pointer;
            color: var(--dv-activegroup-hiddenpanel-tab-color);

            &:hover {
                border-radius: 2px;
                background-color: var(--dv-icon-hover-background-color);
            }
        }
    }
}
