.groupview {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #252526;

  &:focus {
    outline: none;
  }

  &.active {
    .content-container {
      outline: 1px solid red;
      outline-offset: -2px;
    }
  }

  &.empty {
    .title-container {
      display: none;
    }
  }

  .content-container {
    flex-grow: 1;
    background-color: rgb(30, 30, 30);
    overflow: hidden;
  }
}
