.groupview {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--group-view-background-color);

  &:focus {
    outline: none;
  }

  &.empty {
    .title-container {
      display: none;
    }
  }

  .content-container {
    flex-grow: 1;
    background-color: rgb(30, 30, 30);
    overflow: hidden;
    outline: none;
  }
}
