.dockview-watermark {
    display: flex;
    width: 100%;

    &.dockview-watermark-has-actions {
        .dockview-watermark-title {
            .dockview-actions-bar {
                display: none;
            }
        }
    }

    .dockview-watermark-title {
        height: 35px;
        width: 100%;
        display: flex;
    }
    .dockview-watermark-content {
        flex-grow: 1;
    }
}
