.activity-bar-space {
    &.activity-bar-space-dragover {
        background-color: green !important;
    }
}

.container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    box-sizing: border-box;
    position: relative;
}
