.dv-debug {
    .split-view-container {
        .sash-container {
            .sash {
                &.enabled {
                    background-color: black;
                }
                &.disabled {
                    background-color: orange;
                }
                &.maximum {
                    background-color: green;
                }
                &.minimum {
                    background-color: red;
                }
            }
        }
    }
}

.split-view-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;

    &.dv-splitview-disabled {
        & > .sash-container > .sash {
            pointer-events: none;
        }
    }

    &.animation {
        .view,
        .sash {
            transition-duration: 0.15s;
            transition-timing-function: ease-out;
        }
    }

    &.horizontal {
        height: 100%;

        & > .sash-container > .sash {
            height: 100%;
            width: 4px;
            &.enabled {
                cursor: ew-resize;
            }
            &.disabled {
                cursor: default;
            }
            &.maximum {
                cursor: w-resize;
            }
            &.minimum {
                cursor: e-resize;
            }
        }

        & > .view-container > .view {
            &:not(:first-child) {
                &::before {
                    height: 100%;
                    width: 1px;
                }
            }
        }
    }

    &.vertical {
        width: 100%;

        & > .sash-container > .sash {
            width: 100%;
            height: 4px;

            &.enabled {
                cursor: ns-resize;
            }
            &.disabled {
                cursor: default;
            }
            &.maximum {
                cursor: n-resize;
            }
            &.minimum {
                cursor: s-resize;
            }
        }

        & > .view-container > .view {
            width: 100%;

            &:not(:first-child) {
                &::before {
                    height: 1px;
                    width: 100%;
                }
            }
        }
    }

    .sash-container {
        height: 100%;
        width: 100%;
        position: absolute;

        .sash {
            position: absolute;
            z-index: 99;
            outline: none;
            user-select: none;
            -webkit-user-select: none; // Safari
            -moz-user-select: none; // Firefox
            -ms-user-select: none; // IE 10 and IE 11
            touch-action: none;

            &:not(.disabled):active {
                transition: background-color 0.1s ease-in-out;
                background-color: var(--dv-active-sash-color, transparent);
            }

            &:not(.disabled):hover {
                background-color: var(--dv-active-sash-color, transparent);
                transition: background-color 0.1s ease-in-out;
                transition-delay: 0.5s;
            }
        }
    }

    .view-container {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: var(--dv-background-color);

        .view {
            height: 100%;
            box-sizing: border-box;
            overflow: auto;
            position: absolute;
        }
    }

    &.separator-border {
        .view:not(:first-child)::before {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            pointer-events: none;
            background-color: var(--dv-separator-border);
        }
    }
}
