.splitview-demo-container {
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;

    .splitview-demo-content {
        display: flex;
        --dv-separator-border: white;
    }

    &.vertical {
        .api-parameter {
            padding-left: 10px;
        }

        .splitview-demo-view {
            height: 500px;
            width: 150px;

            .api-parameter {
                padding-left: 0px;
            }
        }
    }
    &.horizontal {
        .splitview-demo-content {
            flex-direction: column;
        }

        .api-parameter {
            padding-top: 10px;
        }

        .splitview-demo-view {
            height: 150px;
            width: 500px;

            .api-parameter {
                padding-top: 0px;
            }
        }
    }
}

.api-parameter {
    display: grid;
    grid-template-columns: 70px 50px;
    grid-auto-rows: 15px;

    span {
        &:nth-child(2n) {
            text-align: right;
        }
    }

    .visibility-toggle {
        outline: 1px solid dodgerblue;
        outline-offset: -1px;
        padding: 0px 4px;
        display: flex;
        cursor: pointer;

        &:not(:first-child) {
            margin-left: 4px;
        }
    }
}

.splitview-demo-panel {
    background-color: #2d2d2d;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
