@import '~splitview/dist/styles.css';

body {
    margin: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    overflow: hidden;
    color: white;
}

*,
*::after,
*::before {
    // -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
}
