.welcome-panel {
    color: #cccccc;
    margin: 40px;

    .welcome-header {
        margin-bottom: 40px;
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 20px;
        }
    }

    .directory {
        .directory-title {
            font-size: 16px;
            height: 25px;
            line-height: 25px;
        }
        .directory-item {
            font-size: 13px;
            height: 20px;
            line-height: 20px;
            color: dodgerblue;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
