.pane-container {
    height: 100%;
    width: 100%;

    &.animated {
        .view {
            transition-duration: 0.15s;
            transition-timing-function: ease-out;
        }
    }
    .view {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 0px !important;

        &:not(:first-child)::before {
            background-color: transparent !important;
        }

        &:not(:first-child) {
            .pane > .pane-header {
                border-top: 1px solid var(--dv-paneview-header-border-color);
            }
        }

        .default-header {
            background-color: var(--dv-group-view-background-color);
            color: var(--dv-activegroup-visiblepanel-tab-color);
            display: flex;
            padding: 0px 8px;
            cursor: pointer;

            .dockview-pane-header-icon {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            > span {
                padding-left: 8px;
                flex-grow: 1;
            }
        }
    }

    &:first-of-type > .pane > .pane-header {
        border-top: none !important;
    }

    .pane {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 100%;

        .pane-header {
            box-sizing: border-box;
            user-select: none;
            position: relative;
            outline: none;

            &.pane-draggable {
                cursor: pointer;
            }

            &:focus,
            &:focus-within {
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 5;
                    content: '';
                    pointer-events: none;
                    outline: 1px solid;
                    outline-width: -1px;
                    outline-style: solid;
                    outline-offset: -1px;
                    outline-color: var(--dv-paneview-active-outline-color);
                }
            }
        }
        .pane-body {
            overflow-y: auto;
            overflow-x: hidden;
            flex-grow: 1;
            position: relative;
            outline: none;

            &:focus,
            &:focus-within {
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 5;
                    content: '';
                    pointer-events: none;
                    outline: 1px solid;
                    outline-width: -1px;
                    outline-style: solid;
                    outline-offset: -1px;
                    outline-color: var(--dv-paneview-active-outline-color);
                }
                // outline-width: 1px;
                // outline-style: solid;
                // outline-offset: -1px;
                // opacity: 1 !important;
                // outline-color: dodgerblue;
            }
        }
    }
}
