.dockview-groupview {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--dv-group-view-background-color);
    overflow: hidden;

    &:focus {
        outline: none;
    }

    &.dockview-empty {
        > .dockview-tabs-and-dockview-actions-container {
            display: none;
        }
    }

    > .dockview-content-container {
        flex-grow: 1;
        overflow: hidden;
        outline: none;
    }
}
