.groupview {
    &.dockview-active-group {
        > .dockview-tabs-and-dockview-actions-container
            > .dockview-tabs-container
            > .dockview-tab {
            &.dockview-active-tab {
                background-color: var(
                    --dv-activegroup-visiblepanel-tab-background-color
                );
                color: var(--dv-activegroup-visiblepanel-tab-color);

                .dockview-tab-action {
                    background-color: var(
                        --dv-activegroup-visiblepanel-tab-color
                    );
                }
            }
            &.dockview-inactive-tab {
                background-color: var(
                    --dv-activegroup-hiddenpanel-tab-background-color
                );
                color: var(--dv-activegroup-hiddenpanel-tab-color);

                .dockview-tab-action {
                    background-color: var(
                        --dv-activegroup-hiddenpanel-tab-color
                    );
                }
            }
        }
    }
    &.dockview-inactive-group {
        > .dockview-tabs-and-dockview-actions-container
            > .dockview-tabs-container
            > .dockview-tab {
            &.dockview-active-tab {
                background-color: var(
                    --dv-inactivegroup-visiblepanel-tab-background-color
                );
                color: var(--dv-inactivegroup-visiblepanel-tab-color);

                .dockview-tab-action {
                    background-color: var(
                        --dv-inactivegroup-visiblepanel-tab-color
                    );
                }
            }
            &.dockview-inactive-tab {
                background-color: var(
                    --dv-inactivegroup-hiddenpanel-tab-background-color
                );
                color: var(--dv-inactivegroup-hiddenpanel-tab-color);

                .dockview-tab-action {
                    background-color: var(
                        --dv-inactivegroup-hiddenpanel-tab-color
                    );
                }
            }
        }
    }
}

/**
 * when a tab is dragged we lose the above stylings because they are conditional on parent elements
 * therefore we also set some stylings for the dragging event
 **/
.dockview-tab {
    &.dockview-tab-dragging {
        background-color: var(
            --dv-activegroup-visiblepanel-tab-background-color
        );
        color: var(--dv-activegroup-visiblepanel-tab-color);
    }
}
