.dv-dockview {
    position: relative;
    background-color: var(--dv-group-view-background-color);

    .dv-watermark-container {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
    }
}

.groupview {
    &.active-group {
        > .tabs-and-actions-container > .tabs-container > .tab {
            &.active-tab {
                background-color: var(
                    --dv-activegroup-visiblepanel-tab-background-color
                );
                color: var(--dv-activegroup-visiblepanel-tab-color);
            }
            &.inactive-tab {
                background-color: var(
                    --dv-activegroup-hiddenpanel-tab-background-color
                );
                color: var(--dv-activegroup-hiddenpanel-tab-color);
            }
        }
    }
    &.inactive-group {
        > .tabs-and-actions-container > .tabs-container > .tab {
            &.active-tab {
                background-color: var(
                    --dv-inactivegroup-visiblepanel-tab-background-color
                );
                color: var(--dv-inactivegroup-visiblepanel-tab-color);
            }
            &.inactive-tab {
                background-color: var(
                    --dv-inactivegroup-hiddenpanel-tab-background-color
                );
                color: var(--dv-inactivegroup-hiddenpanel-tab-color);
            }
        }
    }
}

/**
 * when a tab is dragged we lose the above stylings because they are conditional on parent elements
 * therefore we also set some stylings for the dragging event
 **/
.tab {
    &.dv-tab-dragging {
        background-color: var(
            --dv-activegroup-visiblepanel-tab-background-color
        );
        color: var(--dv-activegroup-visiblepanel-tab-color);
    }
}
