.dv-groupview {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--dv-group-view-background-color);
    overflow: hidden;

    &:focus {
        outline: none;
    }

    &.dv-empty {
        > .dv-tabs-and-actions-container {
            display: none;
        }
    }

    > .dv-content-container {
        flex-grow: 1;
        min-height: 0;
        outline: none;
    }
}
