.dv-groupview {
    display: flex;
    height: 100%;
    background-color: var(--dv-group-view-background-color);
    overflow: hidden;
    flex-direction: column;

    &:focus {
        outline: none;
    }

    > .dv-content-container {
        flex-grow: 1;
        min-height: 0;
        outline: none;
    }

    &.dv-groupview-header-bottom {
        flex-direction: column-reverse;
    }

    &.dv-groupview-header-left {
        flex-direction: row;
    }

    &.dv-groupview-header-right {
        flex-direction: row-reverse;
    }

    &.dv-groupview-fixed.dv-fixed-collapsed > .dv-content-container {
        display: none;
    }
}
