name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - run: npm install -g gulp
    - run: npm install -g lerna
    - run: npm run build
      working-directory: ./packages/splitview
    - run: npm test
      working-directory: ./
      env:
        CI: true
