name: Publish to npm

on:
    workflow_dispatch:
        inputs:
            dry-run:
                description: 'Dry run (skip actual publish)'
                required: false
                type: boolean
                default: false
    release:
        types: [published]
jobs:
    publish:
        if: github.event_name == 'release'
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - uses: actions/setup-node@v4
              with:
                  node-version: '22.x'
            - run: npm install -g npm@latest

            - uses: actions/cache@v4
              with:
                  path: ~/.npm
                  key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-node-

            - run: yarn
            - run: npx nx run-many -t build --projects=dockview-core,dockview,dockview-vue,dockview-react,dockview-angular
            - run: npx nx run-many -t build:bundle --projects=dockview-core,dockview,dockview-vue,dockview-react,dockview-angular
            - name: Publish to npm
              run: |
                  for pkg in dockview-core dockview dockview-vue dockview-react dockview-angular; do
                    npm publish ./packages/$pkg --provenance --access public
                  done
    publish-experimental:
        if: github.event_name == 'workflow_dispatch'
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - uses: actions/setup-node@v4
              with:
                  node-version: '22.x'
            - run: npm install -g npm@latest

            - uses: actions/cache@v4
              with:
                  path: ~/.npm
                  key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-node-

            - run: yarn
            - run: npx nx run-many -t build --projects=dockview-core,dockview,dockview-vue,dockview-react,dockview-angular
            - run: npx nx run-many -t build:bundle --projects=dockview-core,dockview,dockview-vue,dockview-react,dockview-angular
            - run: npx nx release version 0.0.0-experimental-$(git rev-parse --short HEAD)-$(date +%Y%m%d) --git-commit=false --git-tag=false
            - name: Publish to npm
              run: |
                  for pkg in dockview-core dockview dockview-vue dockview-react dockview-angular; do
                    npm publish ./packages/$pkg --provenance --access public --tag experimental ${{ inputs.dry-run && '--dry-run' || '' }}
                  done
